{% extends "layout.twig" %}

{% block title %}Mon Blog{% endblock %}

{% block body %}

    <ul>
        <li><a href="{{path("blog.show", {slug: "delano-roosvelt"})}}">article 1</a></li>
        <li><a href="">article 1</a></li>
        <li><a href="">article 1</a></li>
        <li><a href="">article 1</a></li>
    </ul>

{% endblock %}
